
.icon {
  margin: 0;
  position: absolute;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.filter {
  border-radius: 4px;
  border: none;
  background-color: lightgray;
  right: 0.2rem;
  top: 0.5rem;
  padding: 0 0.3rem;
  width: auto;
  height: auto;
  font-size: 1.3rem;
}
